.bleed-x {
  width: 100vw;
  margin-left: calc(-1rem - var(--main-pad-x, calc(var(--frame-inset) * 2)));
}

.bleed-left {
  margin-left: calc(-1rem - var(--main-pad-x, calc(var(--frame-inset) * 2)));
}

.bleed-right {
  margin-right: calc(-1rem - var(--main-pad-x, calc(var(--frame-inset) * 2)));
}

.in-margin {
  padding-inline: var(--main-pad-x, calc(var(--frame-inset) * 2));
}
